.main {
  height: calc(100vh - 144px);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-inline: 1.5rem;
  padding-bottom: 8rem;
}

@media (max-width: 55em) {
  .main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }
  .container {
    padding-top: 101px;
  }
}

@media (max-width: 35em) {
  .container {
    padding-top: 72px;
    background-image: url("../public/assets/home/background-home-mobile.jpg");
  }
}

/* TODO: gaps */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

@media (min-width: 35em) {
  .top {
    width: min-content;
    gap: 1.5rem;
  }
}
@media (min-width: 55em) {
  .top {
    text-align: justify;
  }
}
